<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-1 col-xs-1">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10">
            <form action="/action_page.js">
                <div class="form-group">
                    <label for="username">User Name/Email address</label>
                    <input type="text" class="form-control" id="username" placeholder="User Name / Email address">
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Password">
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox"> Remember me
                    </label>
                </div>
                <div class="form-group">
                    <small class="form-text"><a href="">Forget Password?</a></small>
                </div>
                <div class="form-group">
                    <small class="form-text">Create an account?<a href="/api/signup">Sign up</a></small>
                </div>
                <div class="form-group">
                    <small class="form-text">Sign In With <a href = "">GoogleAccount</a></small>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-1 col-xs-1">
        </div>
    </div>
</div>