<footer class="text-center">
        <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a><br><br>
        <p> come again for more information vist Ethio Raile way <a href="http://www.erc.gov.et" data-toggle="tooltip"
                title="Visit w3schools"> www.erc.gov.et</a></p>
    </footer>