<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/api">Ethio Railway</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/api/login/manager">Check Booking</a></li>
                <li><a href="/api/login/manager/hire">Hire Manager</a></li>
                <li><a href="/api/login/manager/trains">Trains</a></li>
                <li><a href="/api/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>